#=================================================
# https://github.com/wukongdaily/RunFilesBuilder
# Description: Build OpenClash run files using GitHub Actions
# License: MIT
# Author: wukongdaily
# Blog: wkdaily.cpolar.cn
#=================================================

name: Make OpenClash run files 

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Create directories for OpenClash
        run: mkdir -p OpenClash openclash-x86 openclash-a53 openclash-armv7

      - name: Checkout package branch to OpenClash directory
        uses: actions/checkout@v4
        with:
          repository: vernesong/OpenClash
          path: OpenClash
          ref: package
          
      - name: Copy latest openclash IPK to architecture directories
        run: |
          cp OpenClash/master/*.ipk openclash-x86
          cp OpenClash/master/*.ipk openclash-a53
          cp OpenClash/master/*.ipk openclash-armv7

      - name: Get version info
        id: extract_version
        run: |
          version=$(head -n 1 OpenClash/master/version)
          echo "version=$version" >> $GITHUB_ENV

      - name: Create Meta directory for core
        run: mkdir Meta

      - name: Checkout core branch to Meta directory
        uses: actions/checkout@v4
        with:
          repository: vernesong/OpenClash
          path: Meta
          ref: core

      - name: Copy latest meta core to architecture directories
        run: |
          # x86_64 core
          tar -xzvf Meta/master/meta/clash-linux-amd64-v1.tar.gz -C openclash-x86
          mv openclash-x86/clash openclash-x86/clash_meta

          # aarch64 core
          tar -xzvf Meta/master/meta/clash-linux-arm64.tar.gz -C openclash-a53
          mv openclash-a53/clash openclash-a53/clash_meta

          # armv7 core (复用 aarch64 核心)
          cp openclash-a53/clash_meta openclash-armv7/

      - name: Create install.sh scripts
        run: |
          for arch in openclash-x86 openclash-a53 openclash-armv7; do
cat <<'EOF' > $arch/install.sh
#!/bin/sh
opkg update
if [ $? -ne 0 ]; then
    echo "update failed"
    exit 1
fi
opkg install *.ipk
mv clash_meta /etc/openclash/core/
sleep 10s
ifconfig br-lan > /dev/null 2>&1
if [ $? -ne 0 ]; then
    echo "接口错误，重启网络"
    /etc/init.d/network restart
    echo "重启完毕"
fi
EOF
            chmod +x $arch/install.sh
          done

      - name: Clone makeself repository
        run: git clone https://github.com/megastep/makeself.git

      - name: Move directories to makeself & create run files
        run: |
          mv openclash-x86 makeself/
          mv openclash-a53 makeself/
          mv openclash-armv7 makeself/
          cd makeself
          ./makeself.sh openclash-x86/ openclash-x86-64-${{ env.version }}.run "by github action" ./install.sh
          ./makeself.sh openclash-a53/ openclash-aarch64_cortex-a53-${{ env.version }}.run "by github action" ./install.sh
          ./makeself.sh openclash-armv7/ openclash-armv7-${{ env.version }}.run "by github action" ./install.sh

      - name: Generate new tag & release
        uses: softprops/action-gh-release@v2.1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.version }}
          target_commitish: ${{ github.ref_name }}
          prerelease: false
          body: |
            ![Github](https://img.shields.io/badge/OpenClash.run-123456?logo=github&logoColor=fff&labelColor=red&style=for-the-badge) 
            [![Github](https://img.shields.io/badge/国内加速站下载-FC7C0D?logo=github&logoColor=fff&labelColor=000&style=for-the-badge)](https://wkdaily.cpolar.cn/archives/1) 
            ![GitHub Downloads (all assets, specific tag)](https://img.shields.io/github/downloads/wukongdaily/RunFilesBuilder/${{ env.version }}/total?style=for-the-badge&labelColor=black&color=%2325c2a0)

      - name: Upload run files as release assets
        uses: softprops/action-gh-release@v2.1.0
        with:
          tag_name: ${{ env.version }}
          name: "OpenClash-${{ env.version }}"
          files: makeself/*.run
          token: ${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
